@use "../mixins" as m ;
.wrapper {
    background-image: url("../../images/herobg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.site-header {
    padding-top: 33px;
    padding-bottom: 33px;
}
.site-header__wrapper {
    @include m.flexbox (flex, center, space-between) ;
}
.navbar__list {
    @include m.flexbox (flex, center, space-between);
    column-gap: 32px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.navbar__link {
    @include m.linkstyle ;
    color: #fff;
    line-height: 175.7%;
}
.navbar__link-u {
    min-width: 105px;
    width: 100%;
    display: block;
    padding: 12px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #ffffff33;
}
